body {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: 0% auto;
    height: 100vh;
    background-color: #99CC66;
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    align-items:center;
}

.introduction {
    align-items:end;
}

